DB_URL=jdbc:postgresql://localhost:5432/dental_db
DB_USERNAME=your_username
DB_PASSWORD=your_password
JWT_EXPIRATION=21600000
JWT_SECRET=your_secret_key_here
ADMIN_EMAIL=admin@mail.com
ADMIN_PASSWORD=admin
NOTIFICATION_SERVICE_URL=http://localhost:8081